* {
	padding: 0;
	margin: 0;
	transition: 300ms all ease;
}

:root {
	--blood-out: #891111;
	--blood-hover: #ce1a1a;
	--nav-bar: #450909;
	--dry-out: #2e2e2e;
	--dry-hover: #454545;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #B7B7B7;
	background-color: #3E3E3E;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gill Sans", Overpass, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", monospace;
	font-size: 25px;
}

a {
	color: rgb(0, 85, 171);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	/*margin: 0 0 0.5em 0;*/
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

button[class*="svelte"]:focus, button[class*="svelte"]:active,
a[class*="svelte"]:focus, a[class*="svelte"]:active,
input[class*="svelte"]:focus, input[class*="svelte"]:active,
input[class*="svelte"][type="range"]:focus, input[class*="svelte"][type="range"]:active,
.checkbox[class*="svelte"]:focus, .checkbox[class*="svelte"]:active,
textarea[class*="svelte"]:focus, textarea[class*="svelte"]:active,
tr[class*="svelte"]:focus, tr[class*="svelte"]:active {
    border: 4px #ddd solid;
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    -webkit-clip-path: none;
    clip-path: none;
}
