<script>
    import { Route, Router } from 'yrv';
    import { user } from './api.js';
    import Nav from './Nav.svelte';
    import Login from './Login.svelte';
    import Music from './Music.svelte';
    import Calendar from './Calendar.svelte';
    import Settings from './Settings.svelte';
</script>

<style>
    div {
        padding-top: 10px;
    }
</style>

<Nav/>
<div/>

<Router>
    {#if $user.token}
        <Route exact path="/"><Calendar/></Route>
        <Route exact path="/parametres"><Settings/></Route>
        <Route path="/login" redirect="/"/>
        <Music/>
    {:else}
        <Route exact path="/login"><Login/></Route>
        <Route redirect="/login"/>
    {/if}
</Router>

