<script>
    import Week from './Week.svelte';
    import MoreWeeks from './MoreWeeks.svelte';
    import { calendar } from './api.js';
    import { oneDay, oneWeek } from './helpers.js';

    const today = new Date();
    let monday = new Date(today.getTime() - (today.getDay() - 1) * oneDay);

    $: days = [];
    $: {
        days = [];
        for (let i = -$calendar.weeksBefore; i < $calendar.weeksAfter; i++)
            days = [ ...days, new Date(monday.getTime() + i * oneWeek) ];
    }
</script>

<style>
    main {
        max-width: calc(7*90px);
        margin: auto;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 0 0;
        place-content: stretch center;
        place-items: center center;
    }
</style>

<svelte:head>
	<title>Rule Ze World</title>
</svelte:head>

<MoreWeeks/>
<main>
    {#each days as monday (monday.getTime())}
        <Week {monday} {today}/>
    {/each}
</main>
<MoreWeeks after={true} />

