<script>
    import { createEventDispatcher } from 'svelte';
    import { monthToString, isSameDay, isLater, toString, getColor, hovered, parity } from './helpers.js';
    import { days, popin, user } from './api.js';
    import { next } from './irma.js';

    export let date, today;

    const stringDay = toString(date); // YYYY-MM-DD form
    const first = date.getDate() === 1;
    const future = isLater(date, today);
    const isToday = isSameDay(date, today);
    const parityDay = parity(date);

    let td;

    // keep track of current values of the day
    $: storeValue = ($days && $days[stringDay]) || { flow: 0, text: null, pain: 0 };
    // is a day of the predict
    $: irmaDay = $next && $next[stringDay];

    // handleClick to display popin
    const dispatch = createEventDispatcher();

    const handleClick = () => {
        if(!future) {
            dispatch('modify');
        }
    };
    const handleKeyDown = event => {
        if (event.key === 'Enter' || event.key === ' ') {
            event.preventDefault();
            handleClick();
        }
    };
</script>

<div
    class="elt"
    class:modify={$popin && $popin.day && stringDay === $popin.day}
    class:today={isToday}
    class:monday={date.getDay() === 1}
    class:future
    tabindex={future ? -1 : 0}
    on:click={handleClick}
    on:keydown={handleKeyDown}
    bind:this={td}
 >
     {#if first}
         <h5>{monthToString(date.getMonth())}</h5>
     {/if}

     {#if storeValue && storeValue.text && storeValue.text.length > 1}
         <div class="comment">…</div>
     {/if}

     {#if storeValue && + storeValue.pain}
         <span>⚡</span>
     {/if}

     <p>{date.getDate()}</p>

     {#each [0,1,2] as item}
         <div
             class={`dflow d${item}`}
			 class:blood={item < storeValue.flow || irmaDay && item%2 === parityDay}
             />
     {/each}
</div>

<style>
    .elt {
        width: 100%;
        /*max-width: 90px;*/
        height: 90px;
        position: relative; /* children have absolute position */
        overflow: hidden;
        border: 1px solid #444;
        border-top: none;
        border-left: none;
    }
    .elt, .elt > * { transition: all 200ms; }
    .elt.today:not(:hover):not(:focus) {
        border-radius: 100%;
        border: none;
        transition: all 0.5s;
    }
    .elt.modify > p { color: #ffffff; }
    .elt.monday { border-left: 1px solid #444; }
    .elt.modify > .dflow,
    .elt.future > .dflow { opacity: 0.5; }
    .elt > * { position: absolute; }
    .elt > h5 {
        top: 2px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        letter-spacing: -0.5px;
    }
    .elt > p {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .elt > span {
        top: 20px;
        left: 8px;
    }
    .elt > .dflow {
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 33.333%;
    }
    .elt > .dflow { background-color: var(--dry-out); }
    .elt:focus >.dflow,
    .elt > .dflow:hover { background-color: var(--dry-hover); }
    .elt > .dflow.blood { background-color: var(--blood-out); }
    .elt:focus >.dflow.blood,
    .elt > .dflow.blood:hover { background-color: var(--blood-hover); }
    .elt > .d0 { bottom: 0%; }
    .elt > .d1 { bottom: 33.333%; }
    .elt > .d2 { bottom: 66.666%; }
    .elt > .comment {
        right: 4px;
        bottom: 2px;
    }
</style>
