<script>
    import { onMount } from 'svelte';
    import { days, popin } from './api.js';

    let focuser;
    // focus on mount
    onMount(() => focuser && focuser.focus());
    // focus on day change
    $: $popin.day && focuser && focuser.focus();

    let flow = 0, text = null, pain = 0;
    $: if($popin && $popin.day && $days && $days[$popin.day]) {
        flow = + $days[$popin.day].flow || 0;
        text =   $days[$popin.day].text || '';
        pain = + $days[$popin.day].pain || 0;
    } else {
        flow = 0;
        text = '';
        pain = 0;
    }

    const handleModify = () => {
        days.modifyDay({
            date: $popin.day,
            flow,
            text,
            pain
        });
    };
    const handleFlow = event => {
        flow = + event.target.value;
        handleModify();
    };
    const handleText = event => {
        text = event.target.value;
        handleModify();
    };
    const handlePain = event => {
        event.preventDefault();
        pain = 1 - pain;
        handleModify();
    };
</script>

<div class:popin>
    <div>
        <input 
            type="range" min=0 max=3
            value={flow} on:change={handleFlow}
            aria-label="Flux, entre 0 et 3"
            bind:this={focuser}
        />
        <div
            class="checkbox"
            tabindex=0
            on:click={handlePain}
            on:keydown="{event => (event.key === 'Enter' || event.key === ' ') && handlePain(event)}"
        >
        <!--
            TODO: replace this with a real checkbox.
            aria-label=`Douleur, valeur: {pain ? "vrai" : "faux"}`
            aria-live="polite"
        -->
            {+ pain ? '⚡' : ''}
        </div>
    </div>
    <textarea value={text} placeholder="infos supplémentaires..." on:change={handleText} ></textarea>
</div>

<style>
    div.popin {
        transition: all 0.5s 0.05s;
        transition-timing-function: cubic-bezier(.67,-0.07,.54,.99);
        display: block;
        background-color: var(--blood-out);
        border: 1px solid #444;
        border-top: none;
        height: 160px;
        padding: 20px;
    }
    div {
        display: flex;
        align-content: center;
        flex-direction: row;
    }
    input[type=range] {
        border: none;
        background: none;
        width: 80%;
        height: 30px;
        margin-left: 5%;
        margin-bottom: 0;
        cursor: grab;
    }
    input[type=range] { -webkit-appearance: none; }
    input[type=range]:focus { outline: none; }
    input[type=range]::-webkit-slider-runnable-track { height: 2px; cursor: pointer; box-shadow: 0px 0px 0.2px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); background: #000000; border-radius: 0px; border: 0px solid rgba(1, 1, 1, 0); }
    input[type=range]::-webkit-slider-thumb { box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b; border: 2.3px solid rgba(0, 0, 0, 0.76); height: 20px; width: 20px; border-radius: 9px; background: #f0f0f0; cursor: pointer; -webkit-appearance: none; }
    input[type=range]:focus::-webkit-slider-runnable-track { background: #000000; }
    input[type=range]::-moz-range-track { width: 100%; height: 2px; cursor: pointer; box-shadow: 0px 0px 0.2px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); background: #000000; border-radius: 0px; border: 0px solid rgba(1, 1, 1, 0); }
    input[type=range]::-moz-range-thumb { box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b; border: 2.3px solid rgba(0, 0, 0, 0.76); height: 20px; width: 20px; border-radius: 9px; background: #f0f0f0; cursor: pointer; }
    input[type=range]::-ms-track { height: 2px; cursor: pointer; background: transparent; border-color: transparent; color: transparent; }
    input[type=range]::-ms-fill-lower { background: #000000; border: 0px solid rgba(1, 1, 1, 0); border-radius: 0px; box-shadow: 0px 0px 0.2px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
    input[type=range]::-ms-fill-upper { background: #000000; border: 0px solid rgba(1, 1, 1, 0); border-radius: 0px; box-shadow: 0px 0px 0.2px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
    input[type=range]::-ms-thumb { box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b; border: 2.3px solid rgba(0, 0, 0, 0.76); height: 20px; width: 20px; border-radius: 9px; background: #f0f0f0; cursor: pointer; height: 2px; }
    input[type=range]:focus::-ms-fill-lower { background: #000000; }
    input[type=range]:focus::-ms-fill-upper { background: #000000; }
    .checkbox {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        border: 4px solid var(--blood-out);
        border-radius: 5px;
        background-color: #f0f0f0;
        color: #000;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
        user-select: none; -ms-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -webkit-touch-callout: none;
    }
    textarea {
        transition: all 0.5s;
        display: block;
        resize: none;
        width: 100%;
        background-color: inherit;
        margin-top: 15px;
    }
</style>
