<script>
    import { user, connect } from './api.js';

    let mail = '', password = '';
    let disabled = false, bad_credentials = false;

    const submit = async event => {
        disabled = true;
        bad_credentials = false;
        const code = await connect(mail, password);
        if (code != 200) {
            setTimeout(() => bad_credentials = true, 500);
            setTimeout(() => disabled = false, 3000);
        }
    };
    const handleKeyDown = event => {
        if (event.keyCode === 13 && mail && password) {
            event.preventDefault();
            event.stopPropagation();
            submit();
        }
    };
</script>

<style>
    form {
        color: #3E3E3E;
        margin: auto;
        padding: 60px 40px;
        display: flex;
        flex-direction: column;
        background: #ccc;
        width: 400px;
        max-width: calc(100% - 120px);
    }
    h4 { margin: 0 auto; }
    h4, p, input { margin-bottom: 30px; }
    p { color: red; }
    input[type=submit] { cursor:pointer; }
    input[type=submit]:hover { background-color: #999; }
</style>

<svelte:head>
	<title>Connexion - Rule Ze World</title>
</svelte:head>

<form on:submit|preventDefault|stopPropagation={submit} on:keydown={handleKeyDown} >
    <h4>connexion</h4>
    {#if bad_credentials}
        <p>identifiants incorrects</p>
    {/if}
    <input type="text" bind:value={mail} placeholder="prenom" {disabled} />
    <input type="password" bind:value={password} placeholder="mot de passe" {disabled} />
    <input type="submit" value="valider" {disabled} />
</form>
