<script>
    import { calendar } from './api.js';
    export let after = false;

    const attributeName = after ? 'weeksAfter' : 'weeksBefore';

    function handleClick () {
        $calendar[attributeName] += 4;
    }
</script>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button {
        border: none;
        margin: 20px 0;
        background: none;
        transition: all 100ms;
        color: #767676;
    }
    button:hover {
        cursor: pointer;
		text-decoration: underline;
		font-style: italic;
    }
</style>

<div>
    <button on:click={handleClick}>Voir plus !</button>
</div>
