<script>
    import { music, user } from './api.js';
    import { onDestroy } from 'svelte';

    let src = '';
    $: if ($music.length) src = `/music/${$music[0]}`;
</script>
<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
</style>

<div>
    <audio controls {src} autoplay={$user.autoplay} />
</div>
