<script>
    import { onMount } from 'svelte';
    import { Link, router } from 'yrv';
    import { disconnect, user } from './api.js';
    $: home = $router.path === '/';
</script>

<nav>
    <div>
        <h1>
            {$user.mail ? ` ${$user.mail} @ ` : ''}RuleZe.World
        </h1>
        {#if $user.token}
            <Link href={home ? '/parametres' : '/'}>
                <button class="settings">{home ? '' : 'pas '}paramètres</button>
            </Link>
            <button class="deco" on:click={disconnect}>déconnexion</button>
        {/if}
    </div>
</nav>

<style>
    nav {
        width: 100%;
        height: 70px;
        position: sticky;
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 20;
        font-family: 'Overpass', monospace;
        /* background-color: #430606; */
        background-color: var(--nav-bar);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    div {
        position: relative;
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #cccccc;
        text-align: center;
        font-size: 32px;
    }
    button {
        z-index: 21;
        position: absolute;
        top: 50%;
        background: none;
        border: none;
        width: 260px;
        color: #888;
    }
    button.deco {
        right: 0;
        transform: translateY(-50%);
        text-align: right;
    }
    button.settings {
        left: 0;
        transform: translateY(-50%);
        text-align: left;
        /* transform: translateY(50%); */
    }
    button:hover {
        color: #ccc;
        cursor: pointer;
    }
</style>
