<script>
    import { onMount } from 'svelte';
    import iro from '@jaames/iro';
    import StaticDay from './StaticDay.svelte';
    import { user, change_param } from './api.js';
    import { isHexColor } from './helpers.js';

    let newAutoplay = $user.autoplay;
    $: if($user.autoplay != newAutoplay) {
        $user.autoplay = newAutoplay;
        change_param({ autoplay: newAutoplay ? '1' : '0' });
    }
    function handleColorChange(newColor) {
        if ($user.color != newColor && isHexColor(newColor)) {
            $user.color = newColor;
            change_param({ color: newColor });
        }
    }

    onMount(() => new iro.ColorPicker('#color-picker-container', {
            handleRadius: 8,
            color: $user.color,
            borderWidth: 1,
            borderColor: '#3e3e3e',
            padding: 8,
            wheelAngle: 270,
            layout: [
                    { component: iro.ui.Wheel, options: { } },
                    { component: iro.ui.Slider, options: { } },
            ]})
            .on ('input:end', color => handleColorChange(color.hexString.substring(1)))//;
    );

</script>
<style>
    article, section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section {
        max-width: 630px;
    }
    h2 {
        margin: 20px 0;
    }
    p {
        margin-bottom: 10px;
        font-size: 18px;
    }
    input[type=checkbox] {
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
    label {
        display: flex;
        align-items: baseline;
    }
    div.space {
        margin-bottom: 10px;
    }
	button {
		cursor: pointer;
		display: block;
		background-color: #ccc;
		border: none;
		font-size: 20px;
	}
    button:hover { background-color: #999; }
</style>

<svelte:head>
	<title>Paramètres - Rule Ze World</title>
</svelte:head>

<article>
    <section>
        <h2>paramètres</h2>
        <label>
            <p>La musique se lance automatiquement : </p>
            <input type="checkbox" bind:checked={newAutoplay} />
        </label>
        <p>La couleur de tes règles :</p>
        <div id="color-picker-container"></div>
        <div class="space"/>
		<button on:click={() => handleColorChange("891111")}>reset</button>
        <div class="space"/>
        <p>visuel :</p>
        <StaticDay/>

        <h2>à propos</h2>
        <p>Le code source de cette application est disponible <a target="_blank" rel="noopener noreferrer" href="https://framagit.org/ppom/rzw">ici</a>.</p>
        <p>Aucun cookie n'est stocké, ce qui a pour conséquence que fermer la page déconnecte le compte.</p>
        <p>Toutes les modifications sont sauvegardées au fur et à mesure.</p>
    </section>
</article>
