<script>
    import { user } from './api.js';
    import { getColor } from './helpers.js';
    const date = new Date();
</script>

<td>
    <p>{date.getDate()}</p>

    {#each [0,1,2,3,4] as item}
        <div
            class={`dflow d${item}`}
        />
    {/each}
</td>

<style>
    td {
        width: 90px;
        height: 90px;
        position: relative; /* children have absolute position */
        overflow: hidden;
        border: 1px solid #444;
        border-top: none;
    }
    td, td > * {
        transition: all 200ms;
    }
    td > p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    td > .dflow {
        position: absolute;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 20%;
		background-color: var(--blood-out);
    }
    td > .d0 { bottom: 0%; }
    td > .d1 { bottom: 20%; }
    td > .d2 { bottom: 40%; }
    td > .d3 { bottom: 60%; }
    td > .d4 { bottom: 80%; }
</style>
