<script>
    import { fly } from 'svelte/transition';
    import Day from './Day.svelte';
    import EditDay from './EditDay.svelte';
    import { oneDay, toString } from './helpers.js';
    import { popin } from './api.js';
    import { crop } from './transitions.js';

    export let monday, today;

    let days = [];
    let modify = false;

    for (let i=0; i<7; i++) {
        days = [
            ...days,
            {
                date: new Date(monday.getTime() + i * oneDay),
                today,
            }
        ];
    }

    function handleModify(event, date) {
        modify = modify === date ? false : date;
        $popin = { week: monday, day: modify && toString(date) };
    }
</script>

<style>
    div {
        grid-column-start: 1;
        grid-column-end: 8;
        width:100%;
    }
</style>

{#each days as day}
    <Day
        {...day}
        on:modify={event => handleModify(event, day.date)}
    />
{/each}
{#if modify !== false && $popin.week === monday}
    <div transition:crop >
        <EditDay/>
    </div>
{/if}
